<a href="https://colab.research.google.com/github/atsai23/Python-Projects/blob/main/Data_5100_API_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_json('https://data.seattle.gov/resource/fe9f-nc4f.json?$$app_token=kYQF47tb0yVBXYqGaD9iTe3JX&$limit=5')

In [ ]:
df2 = df

In [ ]:
#df2[['date', 'time', 'timezone']] = df2['time'].str.split(expand = True)
df2[['day', 'month', 'year']] = df2['date'].str.split('/', expand = True)

In [ ]:
df2.head()

,time,apeg,sensor_zone,occup,vol,date,timezone,day,month,year
0,14:00:00,apeg0125,0125S_NBT_1,16.04,115,09/01/2021,PDT,09,01,2021
1,14:05:00,apeg0125,0125S_NBT_1,9.53,74,09/01/2021,PDT,09,01,2021
2,14:10:00,apeg0125,0125S_NBT_1,7.70,66,09/01/2021,PDT,09,01,2021
3,14:15:00,apeg0125,0125S_NBT_1,4.89,47,09/01/2021,PDT,09,01,2021
4,14:20:00,apeg0125,0125S_NBT_1,6.54,56,09/01/2021,PDT,09,01,2021

In [ ]:
df3 = df

df3.head()

                      time      apeg  sensor_zone  occup  vol
0  09/01/2021 14:00:00 PDT  apeg0125  0125S_NBT_1  16.04  115
1  09/01/2021 14:05:00 PDT  apeg0125  0125S_NBT_1   9.53   74
2  09/01/2021 14:10:00 PDT  apeg0125  0125S_NBT_1   7.70   66
3  09/01/2021 14:15:00 PDT  apeg0125  0125S_NBT_1   4.89   47
4  09/01/2021 14:20:00 PDT  apeg0125  0125S_NBT_1   6.54   56

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         5 non-null      object
 1   apeg         5 non-null      object
 2   sensor_zone  5 non-null      object
 3   occup        5 non-null      float64
 4   vol          5 non-null      int64
dtypes: float64(1), int64(1), object(3)
memory usage: 328.0+ bytes